<div class="header">
  <div class="container">
    <%= image_tag("grumpy.png", :alt => "grumpy cat") %>
    <h1>Messenger</h1>
  </div>
</div>

<div class="messages">
  <div class="container">
      <% if current_user.present? %>
       <%= link_to "Home", messages_path %>
                <%= link_to "Log Out", destroy_user_session_path, method: :delete %>
                <%= link_to 'New Post', new_message_path %>
                 <%= link_to 'View All Users', users_path %>

              <% else %>
               <%= link_to "Home", messages_path %>
               <%= link_to "Log in", new_user_session_path %>
               <%= link_to "Sign up", new_user_registration_path %>
      <% end %>
  </div>

  <div class="container">
      <div class="destination">
          <h2 >Edit this post:</h2>

        <%= form_for @message, url: {action: "update"}, html:{class:"nifty_form"} do |f| %>
        <!-- <%=debug @user%> -->
            <div class="field">
              <%= f.label :content %><br>
              <%= f.text_field :content %>
            </div>
            <div class="field">
              <%= f.label :website %><br>
              <%= f.text_field :website %>
            </div>
            <div class="actions">
              <%= f.submit "Update Post's Info" %>
            </div>
        <% end %>
        </div>


  </div>
</div>
