<div class="header">
  <div class="container">
    <%= image_tag("grumpy.png", :alt => "grumpy cat") %>
    <h1>Messenger</h1>
  </div>
</div>

<div class="messages">
  <div class="container">
   <% @messages.each do |message| %>
    <div class="message">

      <h1><p class="content">Title of post: <%= message.content %></p></h1>
      <h2><p class="content">Post written by: <%= message.user.username %></p></h2>
      <p>Click to visit link:</p>
      <h4><p class="website"><%= link_to message.website, "http://#{message.website}", :style=>'color: rebeccapurple; background-color: white; border-radius: 15px'%></p></h4>


      <% if current_user.present? && current_user.id  == message.user_id %>
      <%=link_to "Edit Post",  edit_user_message_path(id: message.id, user_id: current_user || message.user_id, content: message.content, website: message.website) %>

      <%=link_to "Delete Post", message_path(id: message.id, user_id: current_user),data: { confirm: "Are you sure?" },method: :delete  %>
      <%end%>


      <% if current_user.present? %>
          <%=link_to "Comment on Post", new_user_message_comment_path(message_id: message.id, user_id: current_user)  %>
          <%=link_to "View Comments" , user_message_comments_path(message_id: message.id, user_id: current_user) %>

      <% end %>







      <p class="time">

  <%= message.created_at.try(:strftime,'%m/%d/%Y') %>
</p>
    </div>

	<% end %>





    <% if current_user.present? %>
              <%= link_to "Log Out", destroy_user_session_path, method: :delete %>
              <%= link_to 'New Post', new_message_path %>
               <%= link_to 'View All Users', users_path %>

            <% else %>
             <%= link_to "Log in", new_user_session_path %>
             <%= link_to "Sign up", new_user_registration_path %>
    <% end %>

  </div>
</div>
