<div class="header">
  <div class="container">
    <%= image_tag("grumpy.png", :alt => "grumpy cat") %>
    <h1>Messenger</h1>
  </div>
</div>
<div class="messages">
  <div class="container">
<%= form_for(@message) do |f| %>
  <div class="field">
    <%= f.label :post %><br>
    <%= f.text_area :content %>
  </div>
  <div class="field">
    <%= f.label :website %><br>
    <%= f.text_area :website %>
  </div>
  <div class="actions">
    <%= f.submit "Create" %>
  </div>
<% end %>
</div>
</div>
