<div class="header">
  <div class="container">
    <%= image_tag("grumpy.png", :alt => "grumpy cat") %>
    <h1>Messenger</h1>
  </div>
</div>

<div class="users">
  <div class="container">
      <% if current_user.present? %>
                <%= link_to "Log Out", destroy_user_session_path, method: :delete %>
                <%= link_to 'New Post', new_message_path %>
                 <%= link_to 'View All Users', users_path %>

              <% else %>
               <%= link_to "Log in", new_user_session_path %>
               <%= link_to "Sign up", new_user_registration_path %>
      <% end %>

      <h2 class="message">Edit this comment:</h2>
      <div class="destination">
        <%= form_for @comment, url: {action: "update"}, html:{class:"nifty_form"} do |f| %>
        <!-- <%=debug @user%> -->
            <div class="field">
              <%= f.label :content %><br>
              <%= f.text_field :content %>
            </div>

            <div class="actions">
              <%= f.submit "Update Comment" %>
            </div>
        <% end %>
        </div>


    <div class="cards row">

      <%= link_to 'Create a New User', "users/new"%>
      <%= link_to 'Create a New Post', "messages/new"%>

    </div>

  </div>
</div>
