<div class="header">
  <div class="container">
    <%= image_tag("grumpy.png", :alt => "grumpy cat") %>
    <h1>Messenger</h1>
  </div>
</div>

<div class="messages">
  <div class="container">
      <% if current_user.present? %>
                <%= link_to "Log Out", destroy_user_session_path, method: :delete %>
                <%= link_to 'New Post', new_message_path %>
                 <%= link_to 'View All Users', users_path %>

              <% else %>
               <%= link_to "Log in", new_user_session_path %>
               <%= link_to "Sign up", new_user_registration_path %>
      <% end %>
      <h1><%=@messageToView.content%></h1>
      <h2><%=@messageToView.website%></h2>
      <h3>Posted by: <%= @userWhoPosted.username%></h3>



          <% if current_user.present? %>
               <span ><%=link_to "Comment on Post", new_user_message_comment_path(message_id: @messageToView.id, user_id: current_user)  %></span>
           <% end %>


       <% @comments.each do |comment| %>
          <div class='flextry'>
              <h2><div><%= comment.content %></div></h2>
           <h3>Comment by: <%= comment.user.username %></h3>
           </div>
           <%if comment.user_id == current_user.id%>


                 <%=link_to "Edit Comment",  edit_user_message_comment_path(id: comment.id, user_id: current_user || @messageToView.user_id, content: comment.content) %>

                 <%=link_to "Delete Comment", user_message_comment_path(id: comment.id, message_id:@messageToView.id, user_id: current_user),data: { confirm: "Are you sure you want to delete your comment?" },method: :delete  %>
           <%end%>




       <% end %>
       <h4><p class="website"><%=link_to "Home", user_messages_path, :style=>'text-shadow: 0px 0px 1px 1px #ccc;
color: rebeccapurple; background-color: white; border-radius: 15px'%></p></h4>


  </div>
</div>
