<div class="header">
  <div class="container">
    <%= image_tag("grumpy.png", :alt => "grumpy cat") %>
    <h1>Messenger</h1>
  </div>
</div>

<div class="messages">
  <div class="container">
      <% if current_user.present? %>
       <%= link_to "Home", messages_path %>
                <%= link_to "Log Out", destroy_user_session_path, method: :delete %>
                <%= link_to 'New Post', new_message_path %>
                 <%= link_to 'View All Users', users_path %>

              <% else %>
               <%= link_to "Home", messages_path %>
               <%= link_to "Log in", new_user_session_path %>
               <%= link_to "Sign up", new_user_registration_path %>
      <% end %>
  </div>
  <br>
  <br><br>
  <br>
  <div class="container needswrap">
   <% @users.each do |user| %>
   <div class="message flexcenter needswrap">
    <div class='needswrap'>
     <h2><p class="content"> <%= user.username %>  </p></h2>
    <%= link_to "View Posts", single_user_messages_path(user.id), url: {action: "byUser"},method: :get %>


      <%if current_user.id == user.id %>
      <%=link_to "Edit User",  edit_user_path(id: user.id) %>
      <%=link_to "Delete User", user_path(id: user.id),data: { confirm: "Are you sure?" },method: :delete  %>
      <%end%>
    </div>
</div>
	<% end %>



    <!-- <% if current_user.present? %>
              <%= link_to "Log out", destroy_user_session_path, method: :delete %>
            <% else %>
             <%= link_to "Log in", new_user_session_path %>
             <%= link_to "Sign up", new_user_registration_path %>
    <% end %> -->

  </div>
</div>
