<div class="header">
  <div class="container">
    <%= image_tag("grumpy.png", :alt => "grumpy cat") %>
    <h1>Messenger</h1>
  </div>
</div>

<div class="messages">
  <div class="container">
      <%= render "devise/shared/links" %>

<h1>Log in</h1>

<%= form_for(resource, as: resource_name, url: session_path(resource_name)) do |f| %>
  <div class="field">
    <%= f.label :username %><br />
    <%= f.text_field :username, autofocus: true %>
  </div>

<br>
<br>
  <div class="field">
    <%= f.label :password %><br />
    <%= f.password_field :password, autocomplete: "off" %>
  </div>

  <% if devise_mapping.rememberable? -%>
    <div class="field">
      <!-- <%= f.check_box :remember_me %> -->
      <!-- <%= f.label :remember_me %> -->
    </div>
  <% end -%>
  <br>
  <br>

  <div class="actions">
    <%= f.submit "Log in" %>
  </div>
<% end %>


<div>

<div>
