<!DOCTYPE html>
<html>
<head>
  <title>Grumpy Reddit</title>
  <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track' => true %>
  <%= javascript_include_tag 'application', 'data-turbolinks-track' => true %>
  <%= csrf_meta_tags %>
  <link rel="icon" href="https://encrypted-tbn1.gstatic.com/images?q=tbn:ANd9GcQVIbzam8161mOHM42pVBSXOhsxjUcpgokvut8T5q2o54NVg8qr0snDbfXTZA">

</head>
<body>
<%= render 'layouts/overrides' %>
    <!-- <p class="notice"><%= notice %></p> -->
    <!-- <p class="alert"><%= alert %></p> -->

<%= yield %>

</body>
</html>
